<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    bootstrap="vendor/autoload.php"
    cacheResultFile=".phpunit.cache/test-results"
    cacheResult="false"
    colors="true"
    columns="max"
    executionOrder="depends,defects"
    failOnEmptyTestSuite="true"
    failOnIncomplete="true"
    failOnRisky="true"
    failOnSkipped="true"
    failOnWarning="true"
    processIsolation="false"
    testdox="true"
    convertDeprecationsToExceptions="true"
>
    <testsuites>
        <testsuite name="Application">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>
